#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: linear-gradient(45deg, #000000, #717171);
    color: white;
    opacity: 0.8;
    height: 100%;
    width: 100%;

}