/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-family: Arial, sans-serif;
}

header {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    align-items: normal;
    width: 100%;
    text-align: left;
}

header h1 {
    padding: 15px;
}

nav {
    position: relative;
}

.menu-toggle {
    display: none;
    background-color: #F42D2D;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #F42D2D;
}

nav .nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .left-menu {
    display: flex;
}

nav .menu-link {
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

nav .menu-link-my-account {
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #d32f2f;
    color: black;
    font-weight: 700;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #7878789c;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li:hover ul,
nav ul li a.active+ul {
    display: block;
}

nav ul li ul li a {
    padding: 10px 15px;
}

/* Main layout */
main {
    flex: 1;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    align-items: center;
    align-content: center;
    background: linear-gradient(45deg, #ffffff, #d1d1d1);
}

/* Footer */
#top-footer {
    background-color: #d32f2f;
    color: white;
    padding: 0px;
}

footer#bottom-footer {
    background-color: #d32f2f;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}





/* Responsive layout */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li ul {
        position: static;
    }

    nav ul li:hover ul {
        display: none;
    }

    nav ul li a.active+ul {
        display: block;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }
}



/* Dropdown menu styles */
.dropdown-menu {
    display: none; /* Hide dropdown menu by default */
    position: absolute;
    top: 100%; /* Position below the "MY ACCOUNT" button */
    right:0;
    background-color: #3f3f3f;
    border: 1px solid #3f3f3f;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.dropdown-menu .dropdown-item {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    display: block;
    /* font-size: 0.6rem; Smaller text size */
    text-align: right; /* Align text to the right */
}
/* Specific styling for the email item */
.dropdown-menu .email-item {
    font-size: 0.55rem; /* Smaller text size */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #535353;
}

/* Specific styling for the Logout item */
.dropdown-menu .logout-item {
    color: red; /* Different color for Logout */
    width: 100%;
}

.dropdown-menu .logout-item:hover {
    background-color: #f8d7da; /* Different hover background color */
    width: 100%;
}

/* Show the dropdown menu when hovering over the "MY ACCOUNT" button */
.menu-item:hover .dropdown-menu {
    display: block;
}

/* Ensure the dropdown menu is hidden when clicking outside */
body {
    position: relative;
}

.dropdown-menu.show {
    display: block;
}
